
.navbar{
    background-color: white;
}
.navbar-brand{
position: absolute;
display:block;
background-color:rgb(84, 218, 200);
width:200px;
height:50px;
font-family: 'Times New Roman', Times, serif;
left:250px;

}

.navbar-brand p
{
color: white;
font-weight: bold;
font-size: 35px;
text-align: center;

}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
ul{
    position: absolute;
    right:0;
}


body {
    position: relative;
    background:  rgb(216, 216, 216);
    
}



.box_2{
    position: relative;     
    background: white;
    height: 1080px;
    width: 1080px;
    padding: 50px;
}
.box_2_header{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgb(84, 218, 200);
}

.head_1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgb(84, 218, 200);
    text-align: center;
}



.first_footer{
    position: relative;
    width:100%;
    background-color: rgb(84, 218, 200);
    height:5px;
    margin: 250px 100px 0px 0px;
   
}

.Sec_footer{
    position: relative;
    width:100%;
    background-color: grey;
    height:50px;
    margin: 0px 0px 0px 0px;
    

}

.copy_right{
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 45px; 
}

